@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face {
    font-family: MeQuran;
    src: url("./assets/me_quran_2.ttf") format("truetype");
}

input{
    outline: none !important;
    border: none !important;
    /* -webkit-box-shadow: none !important; */
    box-shadow: none !important;
    padding: 0.5rem 1rem 0 1rem !important;
}

.bismillah {
    display: inline-flex !important;
    text-align: center;
    font-family: MeQuran;
    margin-bottom: 0.5em;
    line-height: 1.7;
    font-weight: 500;
    justify-content: center;
    width: 100%;
}

.bismillah::after {
    background-image: url('./assets/frame-right.png');
    background-size: 30px 50px;
    display: inline-block;
    width: 30px;
    height: 50px;
    content: "";
    margin-left: 10px;
}

.bismillah::before {
    background-image: url('./assets/frame-left.png');
    background-size: 30px 50px;
    display: inline-block;
    width: 30px;
    height: 50px;
    content: "";
    margin-right: 10px;
}