@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade:wght@700&display=swap');
@font-face {
    font-family: Uthmanic;
    src: url("./assets/uthmanic.otf") format("opentype");
}

.bismillah {
    display: inline-flex !important;
    font-size: 2rem;
    text-align: center;
    font-family: Uthmanic;
    margin-bottom: 0.5em;
    line-height: 1.7;
    font-weight: 600;
    justify-content: center;
    width: 100%;
}

.bismillah::after {
    background-image: url('./assets/frame-right.png');
    background-size: 30px 50px;
    display: inline-block;
    width: 30px;
    height: 50px;
    content: "";
    margin-left: 10px;
}

.bismillah::before {
    background-image: url('./assets/frame-left.png');
    background-size: 30px 50px;
    display: inline-block;
    width: 30px;
    height: 50px;
    content: "";
    margin-right: 10px;
}